@model test2.Models.ManagementModels.ZhongXian.Normal.QueryViewModel

<div class="d-flex justify-content-between align-items-end">
    <div class="d-flex flex-wrap gap-3 justify-content-end fs-3">
        <div>
            <label for="appointmentMode_status" class="form-label mb-0 fw-bold">借閱狀態</label>
            <select id="appointmentMode_status" name="appointmentMode_status" class="form-select form-select-sm fs-3 fw-bold">
                <option value="IsLent">借閱中</option>
                <option value="Available">可借閱</option>
                <option value="ALL">全部</option>
            </select>
        </div>
        <div>
            <label for="appointmentMode_perPage" class="form-label mb-0 fw-bold">筆數</label>
            <select id="appointmentMode_perPage" name="appointmentMode_perPage" class="form-select form-select-sm fs-3 fw-bold">

                @foreach (var option in new[] { 10, 20, 30 })
                {
                    <option value="@option" selected="@(Model.PageCounts?.FirstOrDefault()?.perPage == @option ? "selected" : "")">@option</option>
                }
            </select>
        </div>
    </div>
    @await Html.PartialAsync("~/Areas/Backend/Views/Shared/_Partial/_pageParital.cshtml", Model.PageCounts?.FirstOrDefault())
</div>
<table class="table mt-2 table-hover  " style="width: 100%; table-layout: fixed;">
    <thead class="fs-3 table-success">
        <tr>
            <th scope="col" style="width:500px">書籍名稱</th>
            <th scope="col" style="width:200px">作者</th>
            <th scope="col" class="text-center" style="width:150px">借閱狀態</th>
            <th scope="col" class="text-center" style="width:150px">預約人數</th>
            <th scope="col" class="text-center" style="width:100px">操作</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.AppoimtmentKeywordDTOs?.Count != 0)
        {
            @foreach (var bok in Model.AppoimtmentKeywordDTOs!)
            {
                <tr>
                    <td class="align-middle text-truncate fs-3" style="max-width: 200px" title="@bok.title" data-bookid="@bok.collectionid">@bok.title</td>
                    <td class="align-middle text-truncate fs-3" style="max-width:200px" title="@bok.author"> @bok.author </td>
                    @if (@bok.bookstatus == "可借閱")
                    {
                        <td class='align-middle text-bg-primary fs-3 fw-bold text-center'>@bok.bookstatus</td>
                        <td class="align-middle  text-white fs-4 fw-bold bg-warning  text-center">目前在本館</td>
                        <td class="align-middle fs-4 text-center">-</td>
                    }
                    else if (@bok.bookstatus == "借閱中")
                    {
                        <td class='align-middle text-bg-success fs-3 fw-bold text-center'>@bok.bookstatus</td>
                        <td class="align-middle fs-3 text-center">目前 <u>@bok.number</u>  位</td>
                        <td class="align-middle align-items-center text-center"><button type="button" class="btn btn-success AppointmentMode_AddBookNumBtn fs-3">+</button></td>
                    }
                    else
                    {
                        <td class='align-middle text-bg-secondary fs-3 fw-bold text-center'>@bok.bookstatus</td>
                        <td class="align-middle fs-4 text-center">-</td>
                        <td class="align-middle fs-4 text-center">-</td>
                    }

                </tr>
            }
        }
    </tbody>
</table>
@if ( (Model.PageCounts?.FirstOrDefault()?.TotalPage ?? 0) != 1)
{
    <div class="container d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination ">
                <li class="page-item">
                    @if ( (Model.PageCounts?.FirstOrDefault()?.CurrentPage ?? 0) <= 1){<a class="page-link disabled fs-3" href="#" aria-label="Previous" data-page="" ><span aria-hidden="true">&laquo;</span></a>}
                    else{<a class="page-link fs-2" href="#" aria-label="Previous" data-page="@( (Model.PageCounts?.FirstOrDefault()?.CurrentPage ?? 0) - 1)"><span aria-hidden="true">&laquo;</span></a>}
                </li>
                @for (int x = 1; x <= (Model.PageCounts?.FirstOrDefault()?.TotalPage ?? 0); x++){
                    if ( (Model.PageCounts?.FirstOrDefault()?.CurrentPage ?? 0) == x) { <li class="page-item"><a class="page-link page-link text-white disabled fs-2 fw-bold" style="background-color: #2E7D32" href="#" data-page="@x">@x</a></li>}
                    else {<li class="page-item "><a class="page-link fs-2" href="#" data-page="@x">@x</a></li> }
                    }
            <li class="page-item">
                @if ( (Model.PageCounts?.FirstOrDefault()?.CurrentPage ?? 0) == ( Model.PageCounts?.FirstOrDefault()?.TotalPage ?? 0)){<a class="page-link disabled fs-2" href="#" aria-label="Next" data-page=""><span aria-hidden="true">&raquo;</span></a>}
                else{<a class="page-link fs-2" href="#" aria-label="Next" data-page="@( (Model.PageCounts?.FirstOrDefault()?.CurrentPage ?? 0) + 1)"><span aria-hidden="true">&raquo;</span></a>}
            </li>
            </ul>
        </nav>
    </div>
}
