@model test2.Models.ManagementModels.ZhongXian.Normal.ResultViewModel

@if (Model.ResultCode != 0)
{
    <table class="table table-hover table-success">
        <tr class="fs-1 fw-bold text-center " style="width:90px;"><td colspan="2" class="table-active text-success">成功歸還</td></tr>
        <tr class="fs-2 fw-bold" style="width:90px;"><td>借閱者ID:</td><td>@Model.Cid</td></tr>
        <tr class="fs-2 fw-bold" style="width:90px;"><td>歸還時間 </td><td>@DateTime.Now</td></tr>
        <tr class="fs-2 fw-bold" style="width:90px;"><td>書籍編號:</td><td>@Model.bookcode</td></tr>
        <tr class="fs-2 fw-bold" style="width:90px;"><td>書籍名稱: </td><td>@Model.title</td></tr>
    </table>
}
else
{
    <div class="alert alert-danger fs-1">@Model.Message</div>
}


