@model IEnumerable<test2.Models.Client>

@{
    var client = Model.FirstOrDefault();
}

<div class="container" style="width:90vw">
    <div class="container-fluid card col-8 shadow-lg rounded-5 p-5" style="width:100%">
        <table class="table table-striped table-hover align-middle" style="table-layout: fixed;">
            <thead class="table-light text-center">
                <tr>
                    <th></th>
                    <th>書名</th>
                    <th>作者</th>
                    <th>出版社</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="text-center">
                @foreach (var favorite in client!.Favorites)
                {
                    var collection = favorite!.Collection;

                    <tr>
                        <td>
                            @if (collection.CollectionImg != null)
                            {
                                <img src="data:image/*; base64, @(Convert.ToBase64String(collection.CollectionImg))" class="img-thumbnail" style="width: 60px; height: 80px; object-fit: cover;" />
                            }
                        </td>
                        <td style="word-break: break-all;">@Html.DisplayFor(modelItem => collection!.Title)</td>
                        <td>@Html.DisplayFor(modelItem => collection!.Author.Author1)</td>
                        <td>@Html.DisplayFor(modelItem => collection!.Publisher)</td>
                        <td><button class="badge btn bi-heart-fill btn_dFav" style="font-size: 1rem"> 移除最愛</button></td>
                        <td class="d-none td_F">@Html.DisplayFor(modelItem => collection!.CollectionId)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>