<form>
    <div id="box_query1">
        <div class="d-flex mt-5" style="justify-content: center"><h5>搜尋</h5></div>
        <div class="d-flex" style="justify-content: center">
            <input type="text" class="form-control" id="Qbox_search" value="@Context.Session.GetString("query1")" placeholder="書名、作者、出版社、ISBN">
            <button type="button" class="btn mt-0 Qbtn_search" id="Qbtn_search1">搜尋</button>
            <button type="button" class="btn mt-0 Qbtn_search" id="Qbtn_search2">更多</button>
            <button type="submit" class="d-none" id="Qbtn_submit1"></button>
        </div>
        <div class="d-flex mt-5" style="justify-content: center"><h5>熱門</h5></div>
        <div class="modal-footer d-flex mb-5" style="justify-content: start; min-width: 150%">
            <button type="button" class="btn mt-0 Qbtn_hot" id="Qbtn_hot3">Le Petit Prince</button>
            <button type="button" class="btn mt-0 Qbtn_hot" id="Qbtn_hot1">ONE PIECE</button>
            <button type="button" class="btn mt-0 Qbtn_hot" id="Qbtn_hot2">Warriors</button>
        </div>
    </div>

    <div class="d-none" id="box_query2">
        <div class="d-flex mt-3" style="justify-content: center"><h5>進階搜尋</h5></div>
        <div class="d-flex" style="justify-content: center">
            <select class="form-select form-select-lg" id="Qsel_type1" data-selected-value="@Context.Session.GetString("type1")">
                <option value="title">書名</option>
                <option value="author">作者</option>
                <option value="publisher">出版社</option>
                <option value="isbn">ISBN</option>
            </select>
            <input type="text" class="form-control" id="Qbox_search_type" value="@Context.Session.GetString("query2")">
        </div>
        <div class="d-flex mt-2" style="justify-content: center; font-size: 24px">
            <input type="text" class="form-control" id="Qbox_search_year1" placeholder="年份" value="@Context.Session.GetString("year1")">
            至
            <input type="text" class="form-control" id="Qbox_search_year2" placeholder="年份" value="@Context.Session.GetString("year2")">
        </div>
        <div class="d-flex mt-2" style="justify-content: center">
            <select class="form-select form-select-lg" id="Qsel_lang" data-selected-value="@Context.Session.GetString("lang")">
                <option value="">語言</option>
                <option value="3">中文</option>
                <option value="1">English</option>
                <option value="4">日本語</option>
                <option value="5">한국어</option>
                <option value="2">le français</option>
            </select>
        </div>
        <div class="d-flex mt-2" style="justify-content: center">
            <select class="form-select form-select-lg" id="Qsel_type2" data-selected-value="@Context.Session.GetString("type2")">
                <option value="">類別</option>
                <option value="1">小說</option>
                <option value="2">兒童讀物</option>
                <option value="3">青少年讀物</option>
                <option value="4">散文</option>
                <option value="5">傳記</option>
                <option value="6">詩集</option>
                <option value="7">漫畫</option>
            </select>
        </div>
        <div class="d-flex mt-2" style="justify-content: center">
            <button type="button" class="btn mt-0 Qbtn_search" id="Qbtn_search3">搜尋</button>
            <button type="button" class="btn mt-0 Qbtn_search" id="Qbtn_search4">更少</button>
            <button type="submit" class="d-none" id="Qbtn_submit2"></button>
        </div>
        <div class="d-flex mt-3" style="justify-content: center"><h5>熱門</h5></div>
        <div class="modal-footer d-flex mb-3" style="justify-content: start; min-width: 150%">
            <button type="button" class="btn mt-0 Qbtn_hot" id="Qbtn_hot3">Le Petit Prince</button>
            <button type="button" class="btn mt-0 Qbtn_hot" id="Qbtn_hot1">ONE PIECE</button>
            <button type="button" class="btn mt-0 Qbtn_hot" id="Qbtn_hot2">Warriors</button>
        </div>
    </div>
    <input type="text" class="d-none" id="Qbox_status" name="Qstatus" value="@Context.Session.GetString("status")">
</form>