@model test2.Models.ManagementModels.ZhongXian.Normal.QueryViewModel

@if (Model.AppointmentQueryResultDTOs?.Count != 0)
{
    @await Html.PartialAsync("~/Areas/Backend/Views/Shared/_Partial/_pageParital.cshtml", Model.PageCounts?.FirstOrDefault())
    <table class="table mt-1 table-hover" style="width: 100%; table-layout: fixed;">
        <thead class="table-success table-striped">
            <tr class="fs-4 fw-bold">
                <th scope="col" style="width:130px">預約編號</th>
                <th scope="col" style="width:230px">書籍編號</th>
                <th scope="col" style="width:300px">書籍名稱</th>
                <th scope="col" style="width:100px">預約者</th>
                <th scope="col" style="width:200px">預約日期</th>
                <th scope="col" style="width:200px">取書期限</th>
                <th scope="col" class="text-center">預約狀態</th>
                <th scope="col" class="text-center">-</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ap in Model.AppointmentQueryResultDTOs!)
            {
                <tr>
                    <td class="align-middle appointmentId fs-4" data-appointmentId="@ap.appointmentId">@ap.appointmentId</td>
                    <td class="align-middle fw-bold">@(ap.bookCode ?? "-")</td>
                    <td class="align-middle text-truncate booktitle fs-4" style="max-width: 150px" title="@ap.title">@ap.title</td>
                    <td class="align-middle appointmentcid fs-4" data-cid="@ap.cid">@ap.cid</td>
                    <td class="align-middle appointmentDate fs-4">@ap.appointmentDate!.Value.ToString("yyyy-MM-dd")</td>
                    <td class="align-middle fs-4">
                        @(ap.appointmentDue.HasValue ? ap.appointmentDue.Value.ToString("yyyy-MM-dd") : "-")
                    </td>
                    @if (@ap.appointmentStatus == "已預約")
                    {
                        <td class='text-light fw-bold text-bg-primary align-middle fs-3 text-center'>@ap.appointmentStatus</td>
                        <td class="align-middle align-items-center text-center"><button class="btn NotificationBtn  fs-2 fw-bold text-white" data-bs-target="#notificationModal" data-type="cancelAppointment" data-bs-toggle="modal" style="background-color: rgba(166, 30, 53, 1) ">取消預約</button></td>
                    }
                    else
                    {
                        @if (@ap.appointmentStatus == "取消預約")
                        {
                            <td class='text-light fw-bold text-bg-secondary align-middle fs-3 text-center'>@ap.appointmentStatus</td>
                            <td class="align-middle align-items-center text-center">-</td>
                        }
                        else if (@ap.appointmentStatus == "可取書")
                        {
                            <td class='text-light fw-bold align-middle fs-3 text-center' style="background-color: var(--c-brown3-100); ">@ap.appointmentStatus</td>
                            <td class="align-middle align-items-center text-center">-</td>
                        }
                        else
                        {
                            <td class='text-light fw-bold align-middle fs-3 text-center' style="background-color: var(--c-green2-100); ">@ap.appointmentStatus</td>
                            <td class="align-middle align-items-center text-center">-</td>
                        }
                    }

                </tr>
            }
        </tbody>
    </table>
    <div class="container d-flex justify-content-center ">
        <nav aria-label="Page navigation example">
            @if ((Model.PageCounts?.FirstOrDefault()?.TotalPage ?? 0) != 1)
            {
                <ul class="pagination " >
                    <li class="page-item ">
                        @if ((Model.PageCounts?.FirstOrDefault()?.CurrentPage ?? 0) < 2)
                        {<a class="page-link disabled fs-2" href="#" aria-label="Previous" data-page="1"><span aria-hidden="true">&laquo;</span></a>}
                        else
                        {<a class="page-link fs-2" href="#" aria-label="Previous" data-page="1"><span aria-hidden="true">&laquo;</span></a>}
                    </li>
                    @for (int x = 1; x <= (Model.PageCounts?.FirstOrDefault()?.TotalPage ?? 0); x++)
                    {@if ((Model.PageCounts?.FirstOrDefault()?.TotalPage ?? 0) != 1)
                        {
                            if ((Model.PageCounts?.FirstOrDefault()?.CurrentPage ?? 0) == x)
                            {
                                <li class="page-item fs-3"><a class="page-link   text-white disabled fs-2" href="#" data-page="@x" style="background-color: #2E7D32">@x</a></li>
}
                            else
                            {
                                <li class="page-item"><a class="page-link fs-2" href="#" data-page="@x">@x</a></li>
}
                        }
                }
                    <li class="page-item">
                        @if ((Model.PageCounts?.FirstOrDefault()?.CurrentPage ?? 0) == (Model.PageCounts?.FirstOrDefault()?.TotalPage ?? 0))
                        {<a class="page-link disabled fs-2" href="#" aria-label="Next" data-page="2"><span aria-hidden="true">&raquo;</span></a>}
                        else
                        {<a class="page-link fs-2" href="#" aria-label="Next" data-page="2"><span aria-hidden="true">&raquo;</span></a>}
                    </li>
                </ul>
            }
        </nav>
    </div>
}
else
{<div class="alert alert-danger fs-1 mt-5">查無資料</div>}


<div class="modal fade" id="notificationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <!-- 置中 -->
        <div class="modal-content border">
            <div class="modal-header">
                <label class="modal-title fs-1 fw-bold">取消預約</label>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="CancelBox"></button>
            </div>
            <div class="modal-body">
                <form id="NotificationFom">
                    <div class="mb-3">
                        <label for="NotificationAppointmentId" class="form-label fs-3">預約編號:</label>
                        <input type="number" class="form-control fs-3" id="NotificationAppointmentId" name="NotificationAppointmentId" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="NotificationUser" class="form-label fs-3">借閱者ID:</label>
                        <input type="number" class="form-control fs-3" id="NotificationUser" name="NotificationUser" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="NotificationType" class="form-label fs-3">通知類型:</label>
                        <select class="form-select fs-3" id="NotificationType">
                            <option value="CancelNotification" selected>取消預約通知</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="NotificationTextarea" class="form-label">內容</label>
                        <textarea class="form-control fs-4" id="NotificationTextarea" rows="4" name="NotificationTextarea" style="height:200px"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <div class="d-flex flex-wrap" gap-3>
                    <button type="button" class="btn btn-primary fs-2  fw-bold text-white" id="NotificationSend">送出</button>
                </div>
                <div class="d-flex flex-wrap" gap-3>
                    <button type="button" class="btn fs-2  fw-bold text-white" id="NotificationClear" style="background-color: rgba(166, 30, 53, 1)">清除</button>
                </div>
            </div>
        </div>
    </div>
</div>