@model test2.Models.ManagementModels.ZhongXian.Normal.QueryViewModel
@using test2.Models.ManagementModels.ZhongXian.Normal

    @if (Model.BookQueryDTOs?.Count != 0)
    {

        @await Html.PartialAsync("~/Areas/Backend/Views/Shared/_Partial/_pageParital.cshtml", Model.PageCounts?.FirstOrDefault())
<table class="table mt-1 table-hover">
    <thead class="table-success table-striped">
        <tr class="fw-bold fs-4 text-center">
            <th scope="col" >書籍封面</th>
            <th scope="col">內容</th>
            <th scope="col">書籍簡介</th>
            <th scope="col">藏書量</th>
            <th scope="col" style="width:200px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.BookQueryDTOs!)
        {

            <tr class="fs-4 collectionTable"  style="width: 100%; table-layout: fixed;">
                <td class="align-middle text-center bookImg" data-loaded=""  data-collapse-enabled="true" data-collectionid="@x.collectionId" style="width:300px" onclick="DisplayBookCode(this)">
                    <img src="data:image/*;base64, @(Convert.ToBase64String(x.collectionImg!))" style="width: 300px; height: 450px" alt="無圖片" class="border border-4 bookImgSide" />
                </td>
                
                <td class="align-middle justify-content-center">
                    <table class="table table-hover my-0 fs-3 fw-bold align-middle">
                        <tr><td style="width:90px;">ISBN:</td><td class="align-middle bookISBM" data-book-Id="@x.collectionId" style="width: 250px" value="@x.collectionId" title="@x.isbn">@x.isbn</td></tr>
                        <tr><td style="width:90px;">書名:</td><td class="align-middle bookTitle text-truncate" style="max-width: 200px" title="@x.title">@x.title</td></tr>
                        <tr><td style="width:90px;">作者:</td><td class="align-middle bookAuthor  text-truncate" data-cid="" title="@x.author" style="max-width: 200px">@x.author</td></tr>
                        @if (x.translator == "" || x.translator == null){<tr class="d-none bookTranslatorTr"><td style="width:90px;">譯者:</td><td class="align-middle bookTranslator  text-truncate" data-cid="" title="" style="max-width: 200px"></td></tr>}
                        else{ <tr clss="bookTranslatorTr"><td style="width:90px;">譯者:</td><td class="align-middle bookTranslator  text-truncate" data-cid="" title="" style="max-width: 200px">@x.translator</td></tr>}
                        <tr><td style="width:90px;">類型:</td><td class="align-middle bookType  text-truncate" data-cid="" title="" style="max-width: 200px">@x.type</td></tr>
                        <tr><td style="width:90px;">語言:</td><td class="align-middle bookLang  text-truncate" data-cid="" title="" style="max-width: 200px">@x.language</td></tr>
                        <tr><td style="width:90px;">出版社:</td><td class="align-middle bookPublisher text-truncate" title="@x.publisher" style="max-width:200px">@x.publisher</td></tr>
                        <tr><td style="width:90px;">出版日期:</td><td class="align-middle bookPublishDate">@x.publishDate.ToString("yyyy/MM/dd")</td></tr>
                    </table>
                </td>
                @if (x.collectionDesc != "")
                {
                    <td class="align-middle bookDesc text-truncate my-0" style="max-width:200px" title="@x.collectionDesc"><pre class="bg-light border rounded p-2 my-0" style="white-space: pre-wrap; max-height: 420px; width: 100%; ">@(x.collectionDesc != "" ? x.collectionDesc : "-")</pre></td>
                }
                else
                {
                    <td class="align-middle bookDesc text-truncate text-center my-0" style="max-width:200px" title="@x.collectionDesc">-</td>
                }
                <td class="align-middle text-center">@x.NumberOfBook 本</td>
                <td class="align-middle align-items-center text-center stopCollapse">
                    <div class="vstack gap-2 col-md-5 mx-auto">
                        <button class="btn  fs-3 fw-bold  btn-lg text-white bookEdit" onclick="BookQueryEdit(this)" style="background-color: rgba(166, 30, 53, 1)">修改</button>
                        <button class="btn btn-success fs-3 fw-bold btn-lg bookStored d-none" onclick="BookStoredBtn(this)">儲存</button>
                        <button class="btn btn-secondary fs-3 fw-bold btn-lg bookCancle d-none" onclick="BookCancelBtn(this)">取消</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="9" class="active">
                    <div id="collapse_@x.collectionId" class="collapse">
                    </div>
                </td>
            </tr>
        }
    </tbody>
    </table>
        <div class="container d-flex justify-content-center">
            <nav aria-label="Page navigation example">
                @if ((Model.PageCounts?.FirstOrDefault()?.TotalPage ?? 0) != 1)
                {
                    <ul class="pagination">
                        <li class="page-item">
                            @if ((Model.PageCounts?.FirstOrDefault()?.CurrentPage ?? 0) == 1)
                            {<a class="page-link disabled fs-2" href="#" aria-label="Previous" data-page="1"><span aria-hidden="true">&laquo;</span></a>}
                            else
                            {<a class="page-link fs-2" href="#" aria-label="Previous" data-page="@(Model.PageCounts?.FirstOrDefault()?.CurrentPage ?? 0)"><span aria-hidden="true">&laquo;</span></a>}
                        </li>
                        @for (int x = 1; x <= (Model.PageCounts?.FirstOrDefault()?.TotalPage ?? 0); x++)
                        {
                            if ((Model.PageCounts?.FirstOrDefault()?.CurrentPage ?? 0) == x)
                            {
                                <li class="page-item"><a class="page-link  text-white disabled fs-2" href="#" data-page="@x"  style="background-color: #2E7D32 ">@x</a></li>
                            }
                            else
                            {
                                <li class="page-item"><a class="page-link fs-2" href="#" data-page="@x">@x</a></li>
                            }
                        }
                        <li class="page-item">
                            @if ((Model.PageCounts?.FirstOrDefault()?.CurrentPage ?? 0) == (Model.PageCounts?.FirstOrDefault()?.TotalPage ?? 0))
                            {<a class="page-link disabled fs-2" href="#" aria-label="Next" data-page=""><span aria-hidden="true">&raquo;</span></a>}
                            else
                            { <a class="page-link fs-2" href="#" aria-label="Next" data-page="@((Model.PageCounts?.FirstOrDefault()?.CurrentPage ?? 0) + 1)"><span aria-hidden="true">&raquo;</span></a>}
                        </li>
                    </ul>
                }
            </nav>
        </div>
    }
    else
    {<div class="alert alert-danger fs-1 mt-5">查無資料</div>}


