
@model test2.Models.ManagementModels.ZhongXian.Normal.PageCount
<div class="mt-1 fs-4 fw-bold">總共查詢到: &nbsp<u>@(Model.TotalCount)</u> 筆資料  &nbsp 目前 @(Model.FromIndex) 至 @(Model.ToIndex) 筆 &nbsp 目前頁數: @(Model.CurrentPage) / @(Model.TotalPage )</div>
